.donation {
    background-color: #eee; /* Background color */
    color: rgb(13, 26, 38); /* Text color */
    position: relative; /* Keep it in the flow of the document */
    z-index: 1; /* Ensure it stays above other content */
    padding-top: 100px; /* Add padding to push content below navbar */
}

.donation .container {
    max-width: 800px; /* Set a maximum width for the container */
    width: 100%; /* Allow the container to take full width */
    margin: 0 auto; /* Center the container */
    padding: 60px 15px; /* Add horizontal padding */
}
