.pastoraltext {
    padding-top: 40px;
    padding-bottom: 120px;
    font-size: 50px;
}

.pastoralteam {
    background-color: #eee;
}

.pastoralcare {
    padding-bottom: 100px;
}

.secretarycontent {
    padding-top: 24px;
}

.Secretary {
    font-size: 15px;
}

.Secretaryname {
    font-size: 20px;
}