.banner {
    background-color: #fff; /* Background color */
    color: rgb(13, 26, 38); /* Text color */
    text-align: center; /* Center align the text */
    font-size: 2.5em; /* Adjust font size as needed */
    position: relative; /* Keep it in the flow of the document */
    z-index: 5; /* Ensure it stays above other content */
    width: 100%; /* Take 100% width of the container */
    padding-top: 100px; /* Add padding to push content below navbar */
  }
  
  .banner-image {
    width: 100%; /* Make the image take full width of the banner */
    height: 750px; /* Maintain aspect ratio */
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin-bottom: 20px; /* Space between the image and the text */
    display: block; /* Ensure it behaves like a block element */
  }
  
  /* Optional: Style for the text */
  .text-center {
    font-size: 4.5rem;
  }
  